@page
@using NutricionApp.Dominio
@model NutricionApp.Frontend.Pages.ConsultaModel
@{
}
<h2 class="text-info">Lista De Coach</h2>

<a class="btn btn-primary" asp-page="Registro">Crear nuevo Coach</a>
<br>
<br>
<table class="table table-striped border">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Contrasena</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Certificacion</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    @foreach (var x in Model.Coach)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Identificacion</td>
            <td>@x.Nombre</td>
            <td>@x.Apellidos</td>
            <td>@x.Telefono</td>
            <td>@x.Correo</td>
            <td>@x.Contrasena</td>
            <td>@x.Especialidad</td>
            <td>@x.NumeroCertificacion</td>
            <td><a class="btn btn-secondary" asp-page="./Actualizar" asp-route-id="@x.Id">Actualizar</a></td>
            <td><a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@x.Id">Eliminar</a></td>
        </tr>
    }
</table>
