@page
@model NutricionApp.Frontend.Pages.Pacientes.ListaVModel
@{
  int PacienteId = Model.Paciente.Id;
}

<h1> Valoraciones del Paciente</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Peso</th>
      <th scope="col">Estatura</th>
      <th scope="col">Calorias Consumidas</th>
    </tr>
  </thead>
<tbody>
  @foreach (var v in Model.Valoraciones)
  {
    <tr>
      <td>@v.Fecha</td>
      <td>@v.Peso</td>
      <td>@v.Estatura</td>
      <td>@v.CaloriasConsumidas</td>
    </tr>
  }
  </tbody>
</table>

<input type="button" class="btn btn-success" onclick="history.back()" name="volver atrás" value="volver atrás">
<a class="btn btn-primary table-btn" asp-page="/Nutricionistas/Actualizar" asp-rout-PacienteId="@PacienteId">
<i aria-hidden="true">Regresar</i></a>

